---
---

@import "{{ site.theme }}";

div.screenshots {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 1em;
}

div.screenshots img {
    border: 1px solid #000;
    @include large {
        width: 30%;
    }
    @include medium {
        width: 48%;
    }
    @include small {
        width: 48%;
    }
}

img#device_photo {
    display: block;
    width: 100%;
}

img#kiosk_qr_code {
    display: block;
    margin: 4em auto;
    max-width: 20em;
}

a#google_play_badge {
    display: block;
    margin: auto;
}

#google_play_badge img {
    display: block;
    margin: auto;
    width: 240px;
}