---
layout: base
extra_css:
 - page.css
---
<header id="logo">
  <img src="assets/img/logo.svg"/>
</header>
<header id="main">
  {% if page.title %}
  <h1>{{ page.title }}</h1>
  {% endif %}
  {% if page.titleHtml %}
  {{ page.titleHtml }}
  {% endif %}
</header>
<aside id="nav">
  <nav>
    {% assign navigation = '/,/audiobooks.html,/podcasts.html,/dedicated_device.html,/contribute.html' | split: ',' %}
    <ul>
      {% for nav_url in navigation %}
        {% assign node_array = site.pages | where:'url',nav_url %}
        {% assign node = node_array[0] %}
        <li>
          <a href="{{ nav_url | relative_url | remove : '.html' }}">
            {% if node.nav_title %}
              {{ node.nav_title }}
            {% else %}
              {{ node.title }}
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</aside>
<aside id="contact">
  <a id="google_play_badge" href="https://play.google.com/store/apps/details?id=com.studio4plus.homerplayer2&amp;utm_source=website&amp;pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png" /></a>

  <div class="contact-list">
    <a href="mailto:info@homeraudioplayer.app"><i class="fa-solid fa-envelope"></i> E-mail</a>
    <a href="https://bsky.app/profile/homeraudioplayer.app" target="_blank"><i class="fa-brands fa-bluesky"></i> Bluesky</a>
  </div>
</aside>
<main>
    {{ content }}
<hr>
</main>

<!-- Font Awesome --><script src="https://kit.fontawesome.com/ed067ed90c.js" crossorigin="anonymous"></script>
<!-- SimpleAnalytics-->
 <script>function sa_event(e) { console.log(e) }</script>
 <script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>